{% extends "base.html" %}

{% block title %}Book Detail Page{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-2">
            <img class="cover-pic" alt="cover image" src="{{ book.cover_picture.url }}">
        </div>

        <div class="col-6 ms-5">
            <h3>
                {{ book.title }}
            </h3>
            <p>
                {{ book.description }}
            </p>
        </div>
    </div>

{% endblock %}
<!-- <span class="fst-italic">
    Authored by
    {% for book_author in book.bookauthor_set.all %}
        {% if forloop.last %}
            {{ book_author.author.full_name }}
        {% else %}
            {{ book_author.author.full_name }},
        {% endif %}
    {% endfor %}
</span> -->